@model MIS4200_Abrahamowicz.Models.Doctor

@{
    ViewBag.Title = "Delete Doctor";
}

<h2>Delete Doctor</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.specialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officePhone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
