@model IEnumerable<MIS4200_Abrahamowicz.Models.Doctor>

@{
    ViewBag.Title = "Doctor Index";
}

<h2>Doctor Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specialty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officePhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specialty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officePhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.doctorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.doctorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.doctorID })
        </td>
    </tr>
}

</table>
